<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>

    <div class="container">
        <div class="weatherToday">
            <div class="today-container">
                <div class="title">
                    <h1>
                        <%= htmlWebpackPlugin.options.title %>
                    </h1>
                </div>
                <div class="datetoday" id="datetoday">
                    Friday, 15 April
                </div>

                <div class="weathertodaydetails">
                    <div class="weatherdetails">
                        <p id="city">City:</p>
                        <p id="cityInput">...</p>
                    </div>
                    <div class="weatherdetails">
                        <p id="long">Lon:</p>
                        <p id="longitude">...</p>
                    </div>
                    <div class="weatherdetails">
                        <p id="lat">Lat:</p>
                        <p id="latitude">...</p>
                    </div>
                    <div class="weatherdetails">
                        <p id="weather">Weather:</p>
                        <p id="weather-description">...</p>
                    </div>
                    <div class="weatherdetails">
                        <p id="temperature">Temperature: </p>
                        <p id="temperature-description">...</p>
                    </div>
                    <div class="weatherdetails">
                        <p id="humidity">Humidity: </p>
                        <p id="humidity-description">70%</p>
                    </div>
                </div>

                <div id="inputBox">
                    <input type="text" id="input" placeholder="Enter your destination...">
                    <input type="date" id="date">
                    <button id="submit">Submit</button>
                </div>

            </div>

            <div class="location-container" id="location">

            </div>
        </div>

    </div>
    </div>

    <div class="forecast">
        <div class="dayInfo">
            <div class="days">
                <p id="days"></p>
            </div>
        </div>
    </div>

</body>

</html>