<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>

    <div class="container">
        <div class="weatherToday">
            <div class="today-container">
                <div class="title">
                    <h1>
                        <%= htmlWebpackPlugin.options.title %>
                    </h1>
                </div>

                <div class="weathertodaydetails">
                    <div class="datetoday" id="datetoday">
                        <p id="travelDate"></p>
                    </div>
                    <div class="weatherdetails">
                        <p id="city">City:</p>
                        <p class="result" id="cityInput">...</p>
                    </div>
                    <div class="weatherdetails">
                        <p id="long">Lon:</p>
                        <p class="result" id="longitude">...</p>
                    </div>
                    <div class="weatherdetails">
                        <p id="lat">Lat:</p>
                        <p class="result" id="latitude">...</p>
                    </div>
                    <div class="weatherdetails">
                        <p id="weather">Weather:</p>
                        <p class="result" id="weather-description">...</p>
                    </div>
                    <div class="weatherdetails">
                        <p id="temperature">Temperature: </p>
                        <p class="result" id="temperature-description">...</p>
                    </div>
                    <div class="weatherdetails">
                        <p id="humidity">Humidity: </p>
                        <p class="result" id="humidity-description">...</p>
                    </div>
                </div>

                <div class="inputDiv" id="inputBox">
                    <label id="label">Enter your destination</label>
                    <input type="text" id="input">
                    <label id="label">Enter your travel date</label>
                    <input type="date" id="date">
                    <button id="submit">Submit</button>
                </div>

            </div>

            <div class="location-container">
                <div id="location"></div>
                <div class="countryInfo">

                    <button id="get-info">Get Info</button>
                    <button id="get-packing">Get Packing</button>

                    <div class="country-name"></div>
                    <div class="country-info"></div>

                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    </div>

    <div class="forecast">
        <div class="dayInfo">
            <div class="days">
                <p id="days"></p>
            </div>
        </div>
    </div>

</body>

</html>