<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div class="container">
        <div class="weatherToday">
            <div class="today-container">
                <div class="title">
                    <h1>
                        <%= htmlWebpackPlugin.options.title %>
                    </h1>
                </div>
                <div class="datetoday" id="datetoday">
                    Friday, 15 April
                </div>

                <div class="weathertodaydetails">
                    <div class="logo" id="logo">

                    </div>
                    <div class="weatherdetails">
                        <p id="weather">Weather:</p>
                        <p id="weather-description"></p>
                    </div>
                    <div class="weatherdetails">
                        <p id="temperature">Temperature: </p>
                        <p id="temperature-description"></p>
                    </div>
                    <div class="weatherdetails">
                        <p id="humidity">Humidity: </p>
                        <p id="humidity-description">70%</p>
                    </div>
                </div>

                <div id="inputBox">
                    <input type="text" id="input" placeholder="Enter your destination...">
                    <input type="date" id="date">
                    <button id="submit">Submit</button>
                </div>

            </div>

            <div class="location-container">
                <div class="city" id="city">
                    <p id="cityInput">Tokyo</p>
                </div>
                <div class="location">
                    <div class="lon" id="lon">
                        <p id="longitude">139.776</p>
                    </div>
                    <div class="lat" id="lat">
                        <p id="latitude">45.766</p>
                    </div>
                </div>
                <div class="icon" id="icon">

                </div>
            </div>
        </div>
    </div>

    <div class="forecast">
        <div class="dayInfo">
            <div class="tripDate">
                <p id="tripDate">Trip Date:</p>
            </div>
            <div class="days">
                <p id="days">Day(s) until you travel:</p>
            </div>
        </div>
    </div>

</body>

</html>