@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Liu+Jian+Mao+Cao&display=swap');

$primary-color: #fdff75;
$secondary-color: #7775ff;
$tertiary-color: #a4a1ff;
$text-color: #eee;
$border-color: #eee;
$light-gradient: linear-gradient(-135deg, rgba(63, 59, 59, 0.705), rgba(45, 45, 45, 0.3));
$deep-gradient: linear-gradient(-135deg, rgba(63, 59, 59, 0.705), rgba(25, 25, 25, 0));

$primary-font: 'DM sans',
sans-serif;

$title-font: 'Liu Jian Mao Cao',
cursive;