@use './abstracts.scss'as a;

.bottom-div {
    background: a.$light-gradient;
    padding: 20px;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: a.$text-color;
    width: 100%;
    justify-content: space-between;
    height: 20%;
}