@use './abstracts.scss'as a;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/images/Magome-Juku-Nakasendo-Trail.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: a.$primary-font, sans-serif;
    height: 100vh;

    .container {
        padding: 20px 70px;
        color: a.$text-color;
    }

    .forecast {
        background: a.$light-gradient;
        padding: 25px;
        position: fixed;
        bottom: 0;
        display: flex;
        color: a.$text-color;
        width: 100%;
        align-items: left;
        justify-content: left;
        height: 20%;
    }
}