@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/images/Magome-Juku-Nakasendo-Trail.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'DM Sans', sans-serif;
    height: 100vh;
}

.container {
    padding: 20px 70px;
    color: #fff;
}

.weatherToday {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.today-container .title {
    font-size: 40px;
    font-weight: 60;
}

.datetoday {
    font-size: 34px;
    font-weight: 90;
}

.location-container {
    text-align: end;
    width: 50%;
    /* needs to be switched to 100% for small screen */
    height: 420px;
    background: linear-gradient(-135deg, rgba(63, 59, 59, 0.705), rgba(25, 25, 25, 0));
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px 10px;
    border: 1px solid #eee;
}

.icon {
    width: 100%;
    height: 400px;
    padding-bottom: 5px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.weathertodaydetails {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    background: linear-gradient(-135deg, rgba(63, 59, 59, 0.705), rgba(45, 45, 45, 0.3));
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
}

.weathertodaydetails .location {
    font-size: 25px;
    font-weight: 40;
}

.weathertodaydetails .lon .lat {
    font-size: 20px;
    font-weight: 500;
}

.weatherdetails {
    display: flex;
    justify-content: space-between;
}

#inputBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    background: linear-gradient(-135deg, rgba(63, 59, 59, 0.705), rgba(45, 45, 45, 0.3));
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
}

#inputBox #input {
    width: 100%;
    height: 20%;
    background: linear-gradient(-135deg, rgba(63, 59, 59, 0.705), rgba(45, 45, 45, 0.3));
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #2980b9;
    font-size: 18px;
    font-weight: 200;
    padding: .5rem;
    margin: 10px 0;
}

#inputBox #input:focus {
    outline: none;
}

#inputBox #input {
    color: aliceblue;
}

#inputBox #date {
    width: 100%;
    height: 20%;
    border: none;
    border-bottom: 2px solid #2980b9;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 200;
    background: linear-gradient(-135deg, rgba(63, 59, 59, 0.705), rgba(45, 45, 45, 0.3));
    padding: .5rem;
    margin: 10px 0;
    color: aliceblue;
}

#inputBox #submit {
    width: 50%;
    height: 15%;
    border: 0;
    align-self: center;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 200;
    background: #2980b9;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    padding: .5rem;
    margin: 1rem 0;
    transition: .3s ease-in-out;
}

#inputBox #submit:hover {
    background: #3498DB;
}

.forecast {
    background: linear-gradient(-135deg, rgba(63, 59, 59, 0.705), rgba(45, 45, 45, 0.3));
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: left;
    justify-content: left;
    height: 20%;
}

.forecast .dayInfo {
    align-content: center;
    justify-content: center;
    padding: 15px 15px;
}

.forecast .dayInfo .days {
    font-size: 60px;
    font-weight: 100;
}