@use './abstracts.scss'as a;

.location-container {
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 50%;
    max-height: 420px;
    /* needs to be switched to 100% for small screen */
    height: 50vh;
    background: a.$deep-gradient;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px 10px;
    border: 1px solid a.$secondary-color;

    .photo {
        width: 100%;
        height: 400px;
        padding-bottom: 5px;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
    }
}