@use './abstracts.scss'as a;

.weatherToday {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.today-container {
    .title {
        font-family: a.$title-font;
        font-size: 40px;
        font-weight: 100;
        color: a.$primary-color;
    }
}