@import 'main.scss';

.weatherToday {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.today-container {
    .title {
        font-family: $title-font-family;
        font-size: 40px;
        font-weight: 100;
        color: $primary-color;
    }
}